<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<main class="wp-block-group">

    <div class="wp-block-group"
        style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">

        <h1 class="wp-block-heading has-text-align-center">Latest Updates</h1>
        <div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
        <div class="wp-block-query alignwide">
            <!-- wp:query {"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"constrained"}} -->
            <div class="wp-block-query is-layout-constrained wp-block-query-is-layout-constrained">
                <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
                <!-- wp:group {"style":{"border":{"width":"1px","radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"borderColor":"cyan-bluish-gray"} -->
                <div class="wp-block-group has-border-color has-cyan-bluish-gray-border-color"
                    style="border-width:1px;border-radius:8px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
                    <!-- wp:post-featured-image {"isLink":true,"height":"200px","style":{"border":{"radius":"4px"}}} /-->
                    <div style="height:var(--wp--preset--spacing--20)" aria-hidden="true" class="wp-block-spacer"></div>
                    <!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->
                    <!-- wp:post-excerpt /-->
                    <!-- wp:post-date /-->
                </div>
                <!-- /wp:group -->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
                <!-- wp:query-pagination-previous /-->
                <!-- wp:query-pagination-numbers /-->
                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->
            </div>
            <!-- /wp:query -->
        </div>
    </div>
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->