<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1000px","wideSize":"1200px"},"align":"full"} -->
<main class="wp-block-group alignfull">
<!-- wp:pattern {"slug":"frost/hero-one-column"} /-->
<!-- wp:pattern {"slug":"frost/boxes-three"} /-->
<!-- wp:pattern {"slug":"frost/portfolio"} /-->
<!-- wp:pattern {"slug":"frost/testimonials"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->