<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1000px","wideSize":"1200px"},"align":"full"} -->
<main class="wp-block-group alignfull">
<!-- wp:pattern {"slug":"tove/hero-cover"} /-->
<!-- wp:pattern {"slug":"tove/general-feature-large"} /-->
<!-- wp:pattern {"slug":"tove/restaurant-menu"} /-->
<!-- wp:pattern {"slug":"tove/restaurant-opening-hours-big"} /-->
<!-- wp:pattern {"slug":"tove/restaurant-location"} /-->
<!-- wp:pattern {"slug":"tove/general-testimonials-columns"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->